<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-around center" >

        <div class="card" style="width: 20rem; height: 250px;">
            <div class="card-body">
            <h5 class="card-title">Pessoas</h5>
            <p class="card-text">Realize toda gestão de cadastros de pessoas. Verifique, crie, edite e exclua.</p>
            <button type="button" class="btn btn-outline-secondary botao" routerLink="/pessoa">Gerenciar</button>

            </div>
        </div>

        <div class="card" style="width: 20rem; height: 250px;">
            <div class="card-body">
            <h5 class="card-title">Lista de contatos</h5>
            <p class="card-text">Realize toda gestão da lista de contatos. Verifique, crie, edite e exclua.</p>
            <button type="button" class="btn btn-outline-secondary botao" routerLink="/contatos">Gerenciar</button>
          </div>
        </div>
    </div>
</div>
